{% extends "AppFinal/padre.html" %} 

{% load static %} 

{% block contenidoQueCambia %}

<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="mb-5">¡Bienvenido a tu Entrevista de Trabajo!</h1>                            
                </div>
            </div>
        </div>
    </div>
</header>



<h2> INICIO </h2>
<br>
<h5>En esta primera fase de su entrvista les haremos algunas preguntas con respecto a su vida personal, experiencia laboral, y estudios realizados, si aprueban con los requisitos seran sitados a traves de su correo electronico a un entrevista presencial.
<br>
<br>
Para iniciar su entrevista seleccione la opcion "Información"</h5>
{% endblock %}